# Create a dataframe having at least 3 columns and 50 rows to store numeric data generated using a random function. Replace 10% of the values by null values whose index positions are generated using random function. Do the following:

In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(150).reshape(50,3), columns = ["A", "B", "C"])
m = df.replace(np.random.randint(15), np.nan)
while():
    randindex = np.random.randint(50)
    print(randindex)
    i = i + 1
    
nan_df = np.random.random(df.shape)<0.1
df_nan = df.mask(nan_df)
df_nan

           A         B         C
0   0.970328  0.451504  0.415581
1   0.319919  0.130059       NaN
2   0.642455  0.759959  0.281006
3   0.678903  0.814278  0.040595
4   0.106099  0.439753  0.064078
5   0.408309  0.237195       NaN
6        NaN  0.769349  0.873781
7   0.487541  0.430184  0.146392
8   0.772439  0.434225  0.676637
9   0.144042  0.918279       NaN
10  0.005232  0.561108  0.453610
11  0.539036  0.952834  0.819562
12  0.941495  0.055152  0.322978
13  0.656548  0.840917  0.761096
14  0.872792  0.702733  0.059013
15  0.851506  0.612069  0.133756
16  0.052274  0.862033  0.412668
17  0.778797  0.047932  0.507596
18  0.101417  0.879615  0.362234
19  0.049700       NaN  0.327543
20  0.502593       NaN  0.325162
21  0.474801  0.954163  0.151039
22  0.276187       NaN  0.968563
23  0.704817  0.830853  0.033440
24  0.337870  0.904500  0.289746
25  0.965311  0.162261  0.189911
26  0.220675  0.594307  0.378615
27  0.282131  0.155713  0.241975
28  0.006298  0.355709  0.063317
29  0.592963  0.778407  0.751657
30  0.530911  0.746118       NaN
31  0.556374  0.489559  0.851083
32       NaN  0.380069  0.981125
33  0.083513  0.305521       NaN
34  0.184773  0.133998  0.636472
35  0.963772  0.504474  0.394740
36  0.118503  0.106267  0.246102
37  0.693219  0.329244       NaN
38  0.277658  0.976675  0.496875
39  0.530705  0.313260  0.945185
40  0.837420  0.427837  0.768378
41  0.603911  0.159056  0.187592
42  0.711456  0.935905  0.245707
43  0.407410  0.137844       NaN
44  0.825871  0.764889  0.627638
45  0.197771  0.857162  0.432837
46  0.734608  0.489753  0.108599
47  0.393128  0.897261  0.540961
48  0.154670       NaN  0.837031
49  0.222232       NaN  0.814558

## a. Identify and count missing values in a dataframe.

In [3]:
r1 = 50
c1 = 3
data = np.random.rand(r1, c1)
null_index = np.random.choice([True, False], size = (r1, c1), p = [0.10, 0.90])
data[null_index] = np.nan
df1 = pd.DataFrame(data)
print(df1)

           0         1         2
0   0.382707  0.352237       NaN
1   0.473419  0.456117  0.717302
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
4   0.870516  0.838764  0.803216
5   0.706348  0.334203  0.061659
6   0.910529  0.227371  0.068596
7   0.457850  0.571880  0.507010
8   0.321776  0.899590  0.169769
9   0.616291  0.869246  0.451187
10       NaN  0.400244  0.304991
11  0.571786  0.633161  0.605155
12  0.331803  0.002454  0.454975
13  0.018696  0.127930  0.079257
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
16       NaN  0.488654  0.223221
17  0.497204  0.746505  0.717713
18  0.801780  0.074073  0.287246
19  0.909152  0.022170  0.155227
20  0.932521  0.519506  0.718101
21  0.031119  0.931425  0.244951
22  0.187434  0.539829  0.524592
23  0.740748       NaN  0.521869
24  0.828034       NaN  0.624261
25       NaN  0.667837  0.889350
26  0.421034  0.909516  0.371170
27       NaN  0.864980  0.741726
28       NaN  0.904933       NaN
29  0.904734  0.921127  0.870574
30  0.834712       NaN  0.884799
31  0.431627  0.333218  0.981359
32  0.193224  0.258396  0.334696
33  0.264952  0.085058  0.869630
34  0.175607  0.447439  0.759612
35  0.692096  0.093142  0.030144
36  0.722822  0.907442  0.594939
37  0.511120  0.500703  0.325561
38  0.586681  0.999475       NaN
39  0.118155  0.770781  0.837397
40  0.345906  0.136144  0.850503
41       NaN  0.223734       NaN
42  0.675222  0.533441  0.456509
43  0.381110  0.735275  0.850428
44  0.958289  0.097813  0.029687
45       NaN  0.158327  0.734005
46  0.725982  0.777879  0.328030
47  0.150335  0.939408  0.906154
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966

In [4]:
df1.isnull().sum()

0    7
1    4
2    4
dtype: int64

## b. Drop the column having more than 5 null values.

In [5]:
df1.dropna(thresh = 5, axis = 1)

           0         1         2
0   0.382707  0.352237       NaN
1   0.473419  0.456117  0.717302
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
4   0.870516  0.838764  0.803216
5   0.706348  0.334203  0.061659
6   0.910529  0.227371  0.068596
7   0.457850  0.571880  0.507010
8   0.321776  0.899590  0.169769
9   0.616291  0.869246  0.451187
10       NaN  0.400244  0.304991
11  0.571786  0.633161  0.605155
12  0.331803  0.002454  0.454975
13  0.018696  0.127930  0.079257
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
16       NaN  0.488654  0.223221
17  0.497204  0.746505  0.717713
18  0.801780  0.074073  0.287246
19  0.909152  0.022170  0.155227
20  0.932521  0.519506  0.718101
21  0.031119  0.931425  0.244951
22  0.187434  0.539829  0.524592
23  0.740748       NaN  0.521869
24  0.828034       NaN  0.624261
25       NaN  0.667837  0.889350
26  0.421034  0.909516  0.371170
27       NaN  0.864980  0.741726
28       NaN  0.904933       NaN
29  0.904734  0.921127  0.870574
30  0.834712       NaN  0.884799
31  0.431627  0.333218  0.981359
32  0.193224  0.258396  0.334696
33  0.264952  0.085058  0.869630
34  0.175607  0.447439  0.759612
35  0.692096  0.093142  0.030144
36  0.722822  0.907442  0.594939
37  0.511120  0.500703  0.325561
38  0.586681  0.999475       NaN
39  0.118155  0.770781  0.837397
40  0.345906  0.136144  0.850503
41       NaN  0.223734       NaN
42  0.675222  0.533441  0.456509
43  0.381110  0.735275  0.850428
44  0.958289  0.097813  0.029687
45       NaN  0.158327  0.734005
46  0.725982  0.777879  0.328030
47  0.150335  0.939408  0.906154
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966

## c. Identify the row label having maximum of the sum of all values in a row and drop that row.

In [13]:
row_with_max_sum = df.sum(axis=1).idxmax()
df1 = df1.drop(index=row_with_max_sum)
df1

           0         1         2
0   0.382707  0.352237       NaN
1   0.473419  0.456117  0.717302
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
4   0.870516  0.838764  0.803216
5   0.706348  0.334203  0.061659
6   0.910529  0.227371  0.068596
7   0.457850  0.571880  0.507010
8   0.321776  0.899590  0.169769
9   0.616291  0.869246  0.451187
10       NaN  0.400244  0.304991
11  0.571786  0.633161  0.605155
12  0.331803  0.002454  0.454975
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
16       NaN  0.488654  0.223221
17  0.497204  0.746505  0.717713
18  0.801780  0.074073  0.287246
19  0.909152  0.022170  0.155227
20  0.932521  0.519506  0.718101
21  0.031119  0.931425  0.244951
22  0.187434  0.539829  0.524592
23  0.740748       NaN  0.521869
24  0.828034       NaN  0.624261
25       NaN  0.667837  0.889350
26  0.421034  0.909516  0.371170
27       NaN  0.864980  0.741726
28       NaN  0.904933       NaN
29  0.904734  0.921127  0.870574
30  0.834712       NaN  0.884799
31  0.431627  0.333218  0.981359
32  0.193224  0.258396  0.334696
33  0.264952  0.085058  0.869630
34  0.175607  0.447439  0.759612
35  0.692096  0.093142  0.030144
36  0.722822  0.907442  0.594939
37  0.511120  0.500703  0.325561
38  0.586681  0.999475       NaN
39  0.118155  0.770781  0.837397
40  0.345906  0.136144  0.850503
41       NaN  0.223734       NaN
42  0.675222  0.533441  0.456509
43  0.381110  0.735275  0.850428
44  0.958289  0.097813  0.029687
45       NaN  0.158327  0.734005
46  0.725982  0.777879  0.328030
47  0.150335  0.939408  0.906154
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966

## d. Sort the dataframe on the basis of the first column.

In [6]:
df1.sort_values(by = 0)

           0         1         2
13  0.018696  0.127930  0.079257
21  0.031119  0.931425  0.244951
39  0.118155  0.770781  0.837397
47  0.150335  0.939408  0.906154
34  0.175607  0.447439  0.759612
22  0.187434  0.539829  0.524592
32  0.193224  0.258396  0.334696
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
33  0.264952  0.085058  0.869630
8   0.321776  0.899590  0.169769
12  0.331803  0.002454  0.454975
40  0.345906  0.136144  0.850503
43  0.381110  0.735275  0.850428
0   0.382707  0.352237       NaN
26  0.421034  0.909516  0.371170
31  0.431627  0.333218  0.981359
7   0.457850  0.571880  0.507010
1   0.473419  0.456117  0.717302
17  0.497204  0.746505  0.717713
37  0.511120  0.500703  0.325561
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966
11  0.571786  0.633161  0.605155
38  0.586681  0.999475       NaN
9   0.616291  0.869246  0.451187
42  0.675222  0.533441  0.456509
35  0.692096  0.093142  0.030144
5   0.706348  0.334203  0.061659
36  0.722822  0.907442  0.594939
46  0.725982  0.777879  0.328030
23  0.740748       NaN  0.521869
18  0.801780  0.074073  0.287246
24  0.828034       NaN  0.624261
30  0.834712       NaN  0.884799
4   0.870516  0.838764  0.803216
29  0.904734  0.921127  0.870574
19  0.909152  0.022170  0.155227
6   0.910529  0.227371  0.068596
20  0.932521  0.519506  0.718101
44  0.958289  0.097813  0.029687
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
10       NaN  0.400244  0.304991
16       NaN  0.488654  0.223221
25       NaN  0.667837  0.889350
27       NaN  0.864980  0.741726
28       NaN  0.904933       NaN
41       NaN  0.223734       NaN
45       NaN  0.158327  0.734005

## e. Remove all duplicates from the first column.

In [7]:
df1.drop_duplicates([0])

           0         1         2
0   0.382707  0.352237       NaN
1   0.473419  0.456117  0.717302
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
4   0.870516  0.838764  0.803216
5   0.706348  0.334203  0.061659
6   0.910529  0.227371  0.068596
7   0.457850  0.571880  0.507010
8   0.321776  0.899590  0.169769
9   0.616291  0.869246  0.451187
10       NaN  0.400244  0.304991
11  0.571786  0.633161  0.605155
12  0.331803  0.002454  0.454975
13  0.018696  0.127930  0.079257
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
17  0.497204  0.746505  0.717713
18  0.801780  0.074073  0.287246
19  0.909152  0.022170  0.155227
20  0.932521  0.519506  0.718101
21  0.031119  0.931425  0.244951
22  0.187434  0.539829  0.524592
23  0.740748       NaN  0.521869
24  0.828034       NaN  0.624261
26  0.421034  0.909516  0.371170
29  0.904734  0.921127  0.870574
30  0.834712       NaN  0.884799
31  0.431627  0.333218  0.981359
32  0.193224  0.258396  0.334696
33  0.264952  0.085058  0.869630
34  0.175607  0.447439  0.759612
35  0.692096  0.093142  0.030144
36  0.722822  0.907442  0.594939
37  0.511120  0.500703  0.325561
38  0.586681  0.999475       NaN
39  0.118155  0.770781  0.837397
40  0.345906  0.136144  0.850503
42  0.675222  0.533441  0.456509
43  0.381110  0.735275  0.850428
44  0.958289  0.097813  0.029687
46  0.725982  0.777879  0.328030
47  0.150335  0.939408  0.906154
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966

## f. Find the correlation between first and second column and covariance between second and third column

In [8]:
df1[0].corr(df1[1])

-0.05365924411999538

In [9]:
df1[1].cov(df1[2])

0.02210487607527483

## g. Detect the outliers and remove the rows having outliers.

In [10]:
def removeOutliers(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 *IQR
    upper_bound = Q3 + 1.5 * IQR
    df_filtered = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]
    
    return df_filtered

df1_cleaned = removeOutliers(df1, 0)
df1_cleaned

           0         1         2
0   0.382707  0.352237       NaN
1   0.473419  0.456117  0.717302
2   0.193428       NaN  0.323941
3   0.196307  0.049380  0.952559
4   0.870516  0.838764  0.803216
5   0.706348  0.334203  0.061659
6   0.910529  0.227371  0.068596
7   0.457850  0.571880  0.507010
8   0.321776  0.899590  0.169769
9   0.616291  0.869246  0.451187
11  0.571786  0.633161  0.605155
12  0.331803  0.002454  0.454975
13  0.018696  0.127930  0.079257
14  0.972317  0.361101  0.792824
15  0.978889  0.482642  0.479111
17  0.497204  0.746505  0.717713
18  0.801780  0.074073  0.287246
19  0.909152  0.022170  0.155227
20  0.932521  0.519506  0.718101
21  0.031119  0.931425  0.244951
22  0.187434  0.539829  0.524592
23  0.740748       NaN  0.521869
24  0.828034       NaN  0.624261
26  0.421034  0.909516  0.371170
29  0.904734  0.921127  0.870574
30  0.834712       NaN  0.884799
31  0.431627  0.333218  0.981359
32  0.193224  0.258396  0.334696
33  0.264952  0.085058  0.869630
34  0.175607  0.447439  0.759612
35  0.692096  0.093142  0.030144
36  0.722822  0.907442  0.594939
37  0.511120  0.500703  0.325561
38  0.586681  0.999475       NaN
39  0.118155  0.770781  0.837397
40  0.345906  0.136144  0.850503
42  0.675222  0.533441  0.456509
43  0.381110  0.735275  0.850428
44  0.958289  0.097813  0.029687
46  0.725982  0.777879  0.328030
47  0.150335  0.939408  0.906154
48  0.518647  0.759602  0.293587
49  0.539425  0.268091  0.140966

## h. Discretize second column and create 5 bins

In [11]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
df1_bins = pd.cut(df1[1], bins)
df1_bins

0     (0.2, 0.4]
1     (0.4, 0.6]
2            NaN
3     (0.0, 0.2]
4     (0.8, 1.0]
5     (0.2, 0.4]
6     (0.2, 0.4]
7     (0.4, 0.6]
8     (0.8, 1.0]
9     (0.8, 1.0]
10    (0.4, 0.6]
11    (0.6, 0.8]
12    (0.0, 0.2]
13    (0.0, 0.2]
14    (0.2, 0.4]
15    (0.4, 0.6]
16    (0.4, 0.6]
17    (0.6, 0.8]
18    (0.0, 0.2]
19    (0.0, 0.2]
20    (0.4, 0.6]
21    (0.8, 1.0]
22    (0.4, 0.6]
23           NaN
24           NaN
25    (0.6, 0.8]
26    (0.8, 1.0]
27    (0.8, 1.0]
28    (0.8, 1.0]
29    (0.8, 1.0]
30           NaN
31    (0.2, 0.4]
32    (0.2, 0.4]
33    (0.0, 0.2]
34    (0.4, 0.6]
35    (0.0, 0.2]
36    (0.8, 1.0]
37    (0.4, 0.6]
38    (0.8, 1.0]
39    (0.6, 0.8]
40    (0.0, 0.2]
41    (0.2, 0.4]
42    (0.4, 0.6]
43    (0.6, 0.8]
44    (0.0, 0.2]
45    (0.0, 0.2]
46    (0.6, 0.8]
47    (0.8, 1.0]
48    (0.6, 0.8]
49    (0.2, 0.4]
Name: 1, dtype: category
Categories (5, interval[float64, right]): [(0.0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1.0]]